/* Reset some default styles */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

/* Set max-width and center content */
#content {
    max-width: 1600px;
    margin: 0 auto;
}

/* Center text in navigation links */
nav a {
    text-align: center;
    color: #fcfbfb;
    text-decoration: none;
}

/* Add background and text colors */
body {
    background-color: #fcfbfb;
    color: #333; /* Text color */
}

header {
    background-color: rgba(20, 30, 13, 0.7);
}

nav a:hover {
    background-color: black;
    color: #d9c2a3; /* Hover text color */
}

#background {
    height: 725px;
    /* Add background-color here */
}

.msg {
    /* Add background-color here */
}

footer {
    /* Add background-color here */
}

/* Adjust widths */
.icon {
    width: 80px;
}

#hero-img {
    width: 100%;
}

/* Remove underlines from links and add underline on hover */
nav a,
.book,
.join,
footer a {
    text-decoration: none;
}

nav a:hover,
.book:hover,
.join:hover {
    text-decoration: underline;
}

/* Increase font size for footer text */
footer p {
    font-size: 1.2em;
}